<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <input type="number" placeholder="Ingrese el primer valor" id="numero1" [(ngModel)]="numero1"><br/><br/>
  <input type="number" placeholder="Ingrese el segundo valor" id="numero2" [(ngModel)]="numero2"><br/><br/>
  <button [disabled]="false" (click)="Suma()">+</button>
  <button [disabled]="false" (click)="Resta()">-</button>
  <button [disabled]="false" (click)="Multiplicacion()">X</button>
  <button [disabled]="false" (click)="Division()">÷</button>
  <button [disabled]="false" (click)="Modulo()">MO</button>
  <button [disabled]="false" (click)="Reset()">RE</button><br/><br/>
  
  RESULTADO = {{ resultado }}

<router-outlet></router-outlet>
